*.pyc
*.pyo
.project
.metadata
.pydevproject
.settings
local_settings.py
settings/local.py
local_urls.py
pip-log.txt
*.*~
*.db*
media/
admin-media
settings*.py
*.kpf
migrations
local.db
wordsy.log
.idea
secret.txt
django.fcgi
