<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>life.interzet.ru</title>
    <style>
        body {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 12px;
        }
    </style>
</head>
<body>
<div style="color:#25699D;font-size:20px;">
    <img src="http://life.interzet.ru/media/i/life-logo.gif" width="174" height="63" title="Inter Zet Telecom">
    <a href="http://testlife.interzet.ru/idea/">Идеи</a>&nbsp;
    <a href="http://testlife.interzet.ru/events/_____/all/">События</a>&nbsp;
    <a href="http://testlife.interzet.ru/event/create.html"> Добавить событие</a>&nbsp;
    <a href="http://testlife.interzet.ru/pages/connect.html">Подключиться</a>
</div>
<hr/>
{% block content %}

{% endblock %}
<p><b>С уважением,<br>администрация <a href="http://life.interzet.ru">life.interzet.ru</a></b><br/>
<a href="mailto://life.interzet.ru">site@life.interzet.ru</a>
</p>
</body>
</html>