
{% extends 'base.html' %}

{% load compress_static %}

{% block extrahead %}
	{% static_add "js/calendar.js" "js/calendar-en.js" "js/set.js" "js/jquery-ui-1.7.3.custom.min.js" %}
	{% static_add "css/cal.css" "css/jquery-ui-1.7.3.custom.css" %}
{% endblock extrahead %}


{% block content %}
<div class="help">
    <h2>Пароль успешно восстановлен</h2>
    <p>
        <p>Мы отправили инструкцию по восстановлению пароля на адрес электронной почты, который вы указали. Вы должны ее вскоре получить.
    </p>
</div>
{% endblock content %}