{% extends 'base.html' %}

{% load compress_static %}

{% block extrahead %}
	{% static_add "js/calendar.js" "js/calendar-en.js" "js/set.js" "js/jquery-ui-1.7.3.custom.min.js" %}
	{% static_add "css/cal.css" "css/jquery-ui-1.7.3.custom.css" %}
{% endblock extrahead %}


{% block content %}
  {% load i18n %}


    <div class="help">
        <h2>Восстановление пароля завершено</h2>
        <p>
            <p>Ваш пароль был сохранен. Теперь вы можете войти.<p>
            <p><a href="{% url django.contrib.auth.views.login %}">Войти</a></p>
        </p>
    </div>


{% endblock %}

