{% extends "base.html" %}
{% block content %}
  {% load i18n %}
  <div align="center" >
        {%  if not user.is_authenticated %}
            <div  class="fifty"><h1><label>{% trans "Сброс пароля" %}</label></h1><br/>
            <form action="" method="POST">
                <table border="0" class="filter_form">
                {% for i in form %}
                    <tr><th>{{ i.label }}{% if i.field.required %}<span class="red"> * </span>{% endif %}
                    </th><td>{{ i }}<br/>{{ i.help_text }}</td></tr>
                    {%  if i.errors %}<tr>
                        <th></th>
                        <td>{{ i.errors }}</td>
                    </tr>{% endif %}
                {% endfor %}
			</table>
                <div align="center"><input type="submit" class='submit' value="{% trans "Установить" %}" accept="" /></div><br/>
            </form>

            </div>
        {% else %}
            <div class="help">
               <h2> {% trans "Зачем?" %} </h2>
               <p>{% trans "Вы уже вошли в систему. Если Вы запутались, то обратитесь к разделу <a href='/help'>помощь</a>." %}</p>
            </div>
        {% endif %}
  </div>
{% endblock %}
