{% extends 'base.html' %}

{% load compress_static %}

{% block extrahead %}
	{% static_add "js/calendar.js" "js/calendar-en.js" "js/set.js" "js/jquery-ui-1.7.3.custom.min.js" %}
	{% static_add "css/cal.css" "css/jquery-ui-1.7.3.custom.css" %}
{% endblock extrahead %}


{% block content %}

<div class="view_opened">
	<div class="title">
		<div class="endblock">&nbsp;</div>
		<h1>Регистрация</h1>
	</div>
	На адрес {{ account }} отправлено письмо с дальнейшими инструкциями.
    Для завершения регистрации воспользуйтесь ссылкой в этом письме.
</div><div class="endblock">&nbsp;</div>

{% endblock content %}