{% extends 'base.html' %}

{% block crums %}
    <a href="/">Главная</a> &gt;
    <a href="{% url apps.accounts.views.forgot_password %}">Восстановление пароля</a>
{% endblock crums %}

{% block content %}

<h1>Восстановление пароля</h1>

<div>{{ cp_config.access.apps__accounts__config__Config.text_for_forgot_password_page|safe }}</div>

<div class="forms">
    <form method="post" action="{% url apps.accounts.views.forgot_password %}">
        <table>
            {{ forgot_form.as_table }}
        </table>
        <div align="right"><input type="submit" value="Отправить" class="submit_button"></div>
        <div class="errorlist">{{ errbase }}</div>
    </form>
</div>

{% endblock content %}