{% extends 'base.html' %}

{% block crums %}
    <a href="/">Главная</a> &gt;
    <a href="{% url apps.accounts.views.registration %}">Регистрация</a>
{% endblock crums %}

{% block content %}
<h1>Регистрация</h1>
<div>{{ cp_config.access.apps__accounts__config__Config.text_for_registration_page|safe }}</div>
<div class="forms">
    <form method="post" action="{% url apps.accounts.views.registration %}">
        <table>
            {{ reg_form.as_table }}
        </table>
        <div align="right"><input type="submit" value="Отправить" class="submit_button"></div>
    </form>
</div>

{% endblock content %}