{% extends 'base.html' %}

{% block crums %}
    <a href="/">Главная</a> &gt;
    <a href="{% url apps.accounts.views.forgot_password %}">Восстановление пароля</a>
{% endblock crums %}

{% block content %}
<div class="view_opened">
	<div class="title">
		<div class="endblock">&nbsp;</div>
		<h1>Восстановление пароля</h1>
	</div>
	<form method="POST" action="{% url apps.accounts.views.forgot_password %}">
		<div class="view_content">
			<div>{{ cp_config.access.apps__accounts__config__Config.text_for_forgot_password_page|safe }}</div>
			<table border="0" class="filter_form">
				{{ forgot_form.as_table }}
			</table>
			<div class="errorlist">{{ errbase }}</div>
			<div class="endblock">&nbsp;</div>
		</div>
		<div class="btn_submit"><input type="image" value="Отправить" src="/media/i/btn_send.gif"/></div>
		</div>	
	</form>	
</div><div class="endblock">&nbsp;</div>
{% endblock content %}