{% extends "base.html" %}

{% load compress_static %}

{% block extrahead %}
	{% static_add "js/blog.js" %}
{% endblock extrahead %}

{% block content %}
    <div id="featured-blog">
        <form action="." method="POST">
            {{ form.as_p }}
            <p><input type="submit" value="Отправить"></p>
        </form>
        <div id="featured-blog-preview" style="border: 1px solid black; height: 100px; width: 300px;">
            <div class="avatar">{{ request.user.get_avatar|safe }}</div>
            <h3>{{ request.user }}</h3>
        </div>
    </div>
{% endblock %}