{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
	{% load compress_static %}
    {% static_add 'css/blog.css' %}
    {% static_add 'css/post_list.css' %}
{% endblock extrahead %}

{% block content %}
<div class="view_opened">
	<div class="title">
		<div class="endblock">&nbsp;</div>
		<h1>Блог &laquo;{{ author }}&raquo;</h1>
	</div>
	
	<div class="view_content">
	    <div><a href="{{ back_link }}">К списку блогов</a></div>
	    <div style="float: left;">{{ author.get_avatar|safe }}</div>
	    {% if validuser %}<div><a href="{% url blog_create_post user.username %}">Создать статью</a></div>{% endif %}
	    <div style="clear: both"></div>
	    <div><a href="{{user.get_absolute_url}}">Личная страница автора</a></div>
	</div>
</div>    
    
<div class="post_list">    
    {% if author.website %}<div><a href="{{ author.website }}">Официальная страница автора</a></div>{% endif %}
    {% for post in page.object_list %}
	    <div style="clear: both"></div>
	    <div style="margin-top: 10px">
	    {% include "blog/post_entry.html" %}
	    </div>
    {% endfor %}
</div>
    
{% include 'paginator.html' %}
{% endblock %}
