{% extends 'base.html' %}
{% load compress_static %}

{% block extrahead %}
	{% static_add "js/calendar.js" "js/calendar-en.js" "js/set.js" %}
	{% static_add "css/cal.css" "css/jquery-ui-1.7.3.custom.css" %}
    {% static_add "js/jquery-ui-1.8.16.custom.min.js" "js/ui.datepicker-ru.js" "css/jquery_ui_datepicker.css"  "css/datepick.css" "js/timepicker.js" %}
{% endblock extrahead %}




{% block content %}
<script>

$(function() {
    $( "#meeting-begin").datetime({});
    $( "#meeting-end" ).datetime({});
});
</script>
<div class="view_opened">
	<div class="title">
		<div class="endblock">&nbsp;</div>
		<h1>&laquo;{{ event }}&raquo;</h1>
	</div>

	<form method="POST" name='form' action="{{ post_url }}" enctype="multipart/form-data">
	<div class="view_content">
	<table border="0" class="forms">
		{{ form.as_table }}			
	</table>
	
	{% if meeting %}
	<hr/>
	{% if meeting.id %}
		<h2>Существующая встреча:</h2>
	{% else %}
		<h2>Новая встреча:</h2>
	{% endif %}
    <input name="end_date" id='end_date' value="{{ end_date }}" type='hidden'/>
	<table border="0" class="forms">
        {% for i in meeting_form %}
                    <tr id='row_{{ i.name }}'>
                            <th style='text-transform:capitalize;'> {{ i.label }}{% ifequal i.name 'begin' %}<span class="hidden">Начало:</span>{% endifequal %}{% if i.field.required %}<span class="red"> * </span>{% endif %}</th>
                            <td >{{ i }}</td>
                            <td>
                                {% ifequal i.name 'begin' %}
                                    {% ifnotequal end_date '1' %}
                                            <a href="javascript:$('#end_date').val('1');document.form.submit();">Добавить дату окончания</a>
                                    {% endifnotequal %}
                                {% endifequal %}
                                {% ifequal i.name 'end' %}
                                    {% ifequal end_date '1' %}
                                        <a href="javascript:$('#end_date').val(null);document.form.submit();">Удалить дату окончания</a>
                                    {% endifequal %}
                                {% endifequal %}
                            </td>
                    </tr>
                    {%  if i.errors %}
                       <tr id='row_{{ i.name }}' >
                        <th></th>
                        <td>{{ i.errors }}</td>
                    </tr>{% endif %}
                {% endfor %}
	</table>
	{% endif %}
	</div>
	
		
	<div class="btn_submit"><input type="image" src="/media/i/btn_save_dark.gif"/></div>
</form>
</div>

{% endblock %}