{% extends "base.html" %}
{% load thumbnail %}

{% block javascripts %}
    <script type="text/javascript" src="/media/js/event_invite_list.js"></script>
{% endblock %}


{% block content %}
<h1>Список приглашений</h1>
<table>
{% for invite in page.object_list %}
<tr>
	<td>
	<strong><a href="{{ invite.event.get_absolute_url }}">{{ invite.event }}</a></strong>
	{% if invite.event.get_photo %}
		<br/>
		{% thumbnail invite.event.get_photo 90x67 quality=80,crop as thumb %}
		<a href="{{ invite.event.get_absolute_url }}"><img src="{{ thumb.absolute_url }}" title="{{ invite.event }}" alt="{{ invite.event }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/></a>
	{% endif %}
	</td>
	<td>
		Пригласил, <a href="{{ invite.who.get_absolute_url }}">{{ invite.who }}</a>,<br/>
		{{ invite.when|date }} {{ invite.when|time }}
	</td>
	<td>
		<div id="jq_invite_buttons_{{ invite.id }}">
		{% include "events/ajax/invite_buttons.html" %}
		</div>
	</td>
</tr>
{%endfor %}
</table>
{% endblock content %}